
<style>


input[type="text"]{
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    width: 100%;

}

#id_username{
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    width: 100%;

}

input[type="password"]{
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    width: 100%;
}

.helptext{
    display: none;
}
ul{
    display: none;
}
</style>